*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

:root {
    --wh: 35px;
}

@media screen and (min-width:600px) {
    :root {
        --wh: 40px;
    }
}

@media screen and (min-width:900px) {
    :root {
        --wh: 45px;
    }
}

@media screen and (min-width:1280px) {
    :root {
        --wh: 50px;
    }
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.start-page {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.modes {
    color: rgb(82, 86, 86);
    padding: 5px;
}

.mode-btns {
    display: flex;
    flex-direction: column;
}

.mode-btns button,
#newGameBtn {
    padding: 10px 16px;
    margin: 5px 0;
    cursor: pointer;
    background-color: #0d6efd;
    border: none;
    font-size: 1rem;
    color: #fff;
}

.mode-btns button:disabled {
    opacity: 0.5;
}

.mode-btns .mode:focus {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
    box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 50%);

}

.game-container {
    display: flex;
    flex-direction: column;
    width: calc(var(--wh) * 9);
    display: none;
}

.game-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    position: relative;
    height: 50px;
}

#menu {
    position: relative;
}

svg.ham {
    cursor: pointer;
    margin-right: -10px;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    user-select: none;
}

#menu.active svg.ham {
    position: absolute;
    right: 10px;
}

svg.ham path {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #000;
    stroke-width: 5.5;
    stroke-linecap: round;
}

svg.ham .top {
    stroke-dasharray: 40 172;
}

svg.ham .middle {
    stroke-dasharray: 40 111;
}

svg.ham .bottom {
    stroke-dasharray: 40 172;
}

#menu.active .ham .top {
    stroke-dashoffset: -132px;
}

#menu.active .ham .middle {
    stroke-dashoffset: -71px;
}

#menu.active .ham .bottom {
    stroke-dashoffset: -132px;
}

#menu.active {
    height: 50px;
    width: 250px;
    background: #85ff00;
    position: absolute;
    top: 0;
    right: 0;
}

#setting-item {
    list-style: none;
    display: none;
    font-size: 1rem;
}

#setting-item li {
    padding: 4px 8px;
}

#menu.active #setting-item {
    display: block;
    position: absolute;
    background: #6edeff;
    top: 50px;
    right: 0;
    padding: 10px;
    width: 250px;
}

.sudoku {
    display: grid;
    grid-template-columns: repeat(9, var(--wh));
}


.cell {
    display: flex;
    width: var(--wh);
    height: var(--wh);
    font-size: 30px;
    border: 1px solid #d3d3d3;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.filled {
    color: #948383;
}

.sameRegion {
    background-color: #eaf1f2;
}

.sameNumber {
    background-color: aqua;
}

.selected {
    background-color: #29abff;
    position: relative;
    color: #fff;
}

.err {
    background-color: rgba(255, 0, 0, 0.384);
}

.wrong {
    color: red;
}

.numbers {
    display: grid;
    grid-template-columns: repeat(9, calc(var(--wh) - 5px));
    justify-content: space-between;
}

.number {
    border: none;
    background-color: #f0f2f5;
    width: calc(var(--wh) - 5px);
    height: calc(var(--wh) - 5px);
    font-size: 25px;
    padding: 5px;
    border-radius: 6px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.btn-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.btn-container button {
    border: none;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 22px;
}