*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --wh: 40px;
}

@media screen and (min-width:600px) {
    :root {
        --wh: 45px;
    }
}

@media screen and (min-width:900px) {
    :root {
        --wh: 50px;
    }
}

@media screen and (min-width:1280px) {
    :root {
        --wh: 55px;
    }
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.game-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: calc(var(--wh) * 9);
}

.game-info {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    font-size: 1rem;
}

.settings ul {
    list-style: none;
}

.sudoku {
    display: grid;
    grid-template-columns: repeat(9, var(--wh));
}

.cell,
.number {
    width: var(--wh);
    height: var(--wh);
    border: 1px solid #d3d3d3;
    font-size: 30px;
    text-align: center;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filled {
    color: #948383;
}

.sameRegion {
    background-color: #c6edef;
}

.sameNumber {
    background-color: aqua;
}

.selected {
    background-color: #29abff;
    position: relative;
    color: #fff;
}

.err {
    background-color: rgba(255, 0, 0, 0.384);
}

.wrong {
    color: red;
}

.numbers {
    display: grid;
    grid-template-columns: repeat(9, calc(var(--wh) - 5px));
    justify-content: space-between;
}

.number {
    border: none;
    background-color: #f0f2f5;
    width: calc(var(--wh) - 5px);
    height: calc(var(--wh) - 5px);
    font-size: 25px;
    padding: 5px;
    border-radius: 6px;
}

.btn-container {
    display: flex;
    justify-content: space-around;
}

.btn-container button {
    border: none;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 22px;
}